
@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
    --bg: #ffffff;
    --text: #151515;
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        left: 50%;
        transform: translateX(-50%);
}



input[type="date"] {
    position:relative;
    font-family:monospace;
    font-size: 0.8rem;
    border:1px solid #8292a2;
    color: rgb(0, 0, 0);
    padding: 0.25rem;
    border-radius:0.25rem;
    background:
      rgb(255, 255, 255);
      user-select: none;
    cursor:pointer;
  }

  input[type="date"]:focus {
    outline:none;
    border-color:#3a89ff;
    box-shadow:0 0 0 0.25rem rgba(0, 120, 250, 0.1);
  }
  
  ::-webkit-datetime-edit {}
  ::-webkit-datetime-edit-fields-wrapper {}
  ::-webkit-datetime-edit-month-field:hover,
  ::-webkit-datetime-edit-day-field:hover,
  ::-webkit-datetime-edit-year-field:hover {
    background:rgba(0, 120, 250, 0.1);
  }
  ::-webkit-datetime-edit-text {
    opacity:0;
  }
  ::-webkit-clear-button,
  ::-webkit-inner-spin-button {
    display:none;
  }
  ::-webkit-calendar-picker-indicator {
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    right:0;
    bottom:0;
    
    opacity:0;
    cursor:pointer;
    
    color:rgb(79, 164, 255);
    background:rgb(71, 160, 255);
   
  }
  
  input[type="date"]:hover::-webkit-calendar-picker-indicator { opacity:0.05; }
  input[type="date"]:hover::-webkit-calendar-picker-indicator:hover { opacity:0.15; }
  

.main {
    background: linear-gradient(to top, #230c66 0%, #170942 10%,#080013 20%, #05000e 100%);  
    background-repeat: no-repeat;
    
    position: relative;
    min-height: 100vh;
}

nav.account-nav > div > div {
    padding: 1rem;
}


@layer utilities {
    .text-balance {
      text-wrap: balance;
    }
  }


  .filters {
    display: flex;
    gap: 1rem;
  }

  .filters button {
    padding: 0.3rem 1rem;
    margin: auto;
    font-size: 0.8rem;
    border: 1px solid #e2e2e2;
    border-radius: 2rem;
  }

  .filters button:hover {
    background: #92b5d82d;
  }
